<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆测试</title>

    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="renderer" content="webkit">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    {% block stylesheets %}{% endblock %}
</head>
<body {% block body_class %}{% endblock %}>

{% block body%}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
